.vertNavBar
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 100;
    background-color: #0747a6;
    white-space: nowrap;
}


.vertNavBar:hover
{
  transition: 0.5s;
  width: 200px;
}

.NavBarItem
{
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.navItemDesc
{
  color: white;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 550;
}

.navItem
{
  display: flex;
  margin-left: 12px;
  margin-top: 10px;
  justify-content: center;
}

.navDesc
{
  font-size: 12px;
  font-weight: 600;
  display: inherit;
  margin: auto 20px;
  color: white;
  align-self: center;
}


a
{
  text-decoration: none;
}