.vertNavBar
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 100;
    background-color: #0747a6;
    white-space: nowrap;
}


.vertNavBar:hover
{
  transition: 0.5s;
  width: 180px;
}

.navBarItem
{
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

svg {
  vertical-align: bottom;
}

.navItemDesc
{
  color: white;
  margin-left: 25px;
  font-size: 13px;
  font-weight: 600;
}



a
{
  text-decoration: none;
}