.vertNavBar
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    min-height: 100%;
    overflow-x: hidden;
    z-index: 100;
    background-color: #0747a6;
    white-space: nowrap;
}


.vertNavBar:hover
{
  transition: 0.5s;
  width: 200px;
}

.navBarItem
{
  padding: 0px 10px;
  cursor: pointer;
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}


svg 
{
  vertical-align: bottom;
}

.navItemDesc
{
  color: white;
  margin-left: 25px;
  font-size: 13px;
  font-weight: 600;
}

a
{
  text-decoration: none;
}

.pageContent
{
  margin: 50px 220px;
}

.boardHome
{
  color: #575757;
}

.complaints
{
  color: black;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}

.landingSearch
{
  border: none;
  border-radius: 15px;
  height: 25px;
  background-color: #dfe1e6;
  margin-top: 20px;
  width: 200px;
  padding: 5px 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.complaintsView
{
  margin-top: 30px;
  display: flex;
}

.col
{
  width: 260px;
  background-color: #dfe1e6;
  margin-right: 100px;
  border-radius: 5px;
  padding: 6px;
  height: 500px;
}

.issueForm{
  margin-right: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #dfe1e6;
  border-radius: 10px;
  padding: 35px;
}

.summary,
.description,
.priority
{
  margin-top: 15px;
}

.issueForm input[type="text"],
.issueForm textarea,
.issueForm select
{
  background-color: white;
  width: 95%;
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
}

.issueForm textarea
{
  height: 10rem;
}

.issueForm select{
  width: 98%;
}

.issueForm input[value="Create Issue"]{
  position: relative;
  right: -600px;
  margin-top: 40px;
  padding: 5px;
  color: white;
  border: none;
  height: 2rem;
  border-radius: 5px;
  background-color: #0f65e6;
}

.issueForm input[value="Cancel"]{
  position: relative;
  right: -610px;
  padding: 5px;
  height: 2rem;
  border: none;
  border-radius: 5px;
  width: 10%;

}