body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  height: 7rem;
  /* width:100%; */
  border-radius: 30px;
  background-color: rgba(233, 233, 233, 0.534);
  margin:5px 10px;

  padding: 10px 10px 0 10px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 2px 0px;
  transition: background 0.1s ease 0s;
  cursor: pointer;
  user-select: none;
}

.card:hover{
  background-color: rgb(235, 236, 240);
}